body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
    content:
  }

  #myBtn:hover {
    background-color: #555;
  }
  
  #toTop:active,.wp-theme-1 #toTop:focus {
  outline: none;
 }

#myBtn:before {
  font-family: 'FontAwesome';
  content: "\f106";
  color: #ffffff;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  text-indent: 0;
 }